body{
	padding-top: 50px;
	padding-bottom: 40px;  
}
@media all and (max-width: 480px){
.hero-unit h1{
	font-size: 25px;
	padding-bottom: 15px;
}

}
	
.center-table
{
  margin: 0 auto !important;
  float: none !important;
}
